@use 'sass:math';

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Viewport
//   	========================================================================== */

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/* Font Stacks
//   	========================================================================== */
$font-stack-serif:'Lora',serif;
$font-stack-sans-serif:'Nunito',sans-serif;

// Font Sizes
$browser-default-font-size:16px;
$layout-size:16px;

/* @link https://utopia.fyi/type/calculator?c=320,18,1.125,1240,22,1.25,4,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

/* @link https://utopia.fyi/space/calculator?c=320,18,1.125,1240,22,1.25,4,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

// Beige https://0to255.com/#f5f4f0

@mixin theme-light() {
	color-scheme: light;
	--brand-blue: #06143d;
	--brand-beige: #e7e5dc;
	--border-blue: rgba(6,20,21,.25);
	--border-blue-hover: rgba(6,20,21,.65);
	--border-beige: rgba(231,229,220, .25);
	--border-beige-hover: rgba(231,229,220, .65);

	--body-background-color: var(--brand-beige);
	--text-color: var(--brand-blue);
	--banner-background-color: var(--brand-blue);
	--banner-color: var(--brand-beige);
	--hr-color: var(--brand-blue);
	--figure-border: var(--border-blue);
	--figure-border-hover: var(--border-blue-hover);

}

@mixin theme-dark() {
	color-scheme: dark;
	--body-background-color: var(--brand-blue);
	--text-color: var(--brand-beige);
	--banner-background-color: var(--brand-beige);
	--banner-color: var(--brand-blue);
	--hr-color: var(--brand-beige);
	--figure-border: var(--border-beige);
	--figure-border-hover: var(--border-beige-hover);
}

:root {
	overscroll-behavior: none;
	--step--2: clamp(0.88rem, 0.8918rem + -0.0152vw, 0.8888rem);
	--step--1: clamp(1rem, 0.9652rem + 0.1739vw, 1.1rem);
	--step-0: clamp(1.125rem, 1.038rem + 0.4348vw, 1.375rem);
	--step-1: clamp(1.2656rem, 1.108rem + 0.788vw, 1.7188rem);
	--step-2: clamp(1.4238rem, 1.1716rem + 1.2609vw, 2.1488rem);
	--step-3: clamp(1.6019rem, 1.2249rem + 1.8848vw, 2.6856rem);
	--step-4: clamp(1.8019rem, 1.261rem + 2.7043vw, 3.3569rem);

	--space-3xs: clamp(0.3125rem, 0.2908rem + 0.1087vw, 0.375rem);
	--space-2xs: clamp(0.5625rem, 0.519rem + 0.2174vw, 0.6875rem);
	--space-xs: clamp(0.875rem, 0.8098rem + 0.3261vw, 1.0625rem);
	--space-s: clamp(1.125rem, 1.038rem + 0.4348vw, 1.375rem);
	--space-m: clamp(1.6875rem, 1.5571rem + 0.6522vw, 2.0625rem);
	--space-l: clamp(2.25rem, 2.0761rem + 0.8696vw, 2.75rem);
	--space-xl: clamp(3.375rem, 3.1141rem + 1.3043vw, 4.125rem);
	--space-2xl: clamp(4.5rem, 4.1522rem + 1.7391vw, 5.5rem);
	--space-3xl: clamp(6.75rem, 6.2283rem + 2.6087vw, 8.25rem);
	--space-4xl: clamp(9rem, 8.3043rem + 3.4783vw, 11rem);
	--space-5xl: clamp(13.5rem, 12.4565rem + 5.2174vw, 16.5rem);

	/* One-up pairs */
	--space-3xs-2xs: clamp(0.3125rem, 0.1821rem + 0.6522vw, 0.6875rem);
	--space-2xs-xs: clamp(0.5625rem, 0.3886rem + 0.8696vw, 1.0625rem);
	--space-xs-s: clamp(0.875rem, 0.7011rem + 0.8696vw, 1.375rem);
	--space-s-m: clamp(1.125rem, 0.7989rem + 1.6304vw, 2.0625rem);
	--space-m-l: clamp(1.6875rem, 1.3179rem + 1.8478vw, 2.75rem);
	--space-l-xl: clamp(2.25rem, 1.5978rem + 3.2609vw, 4.125rem);
	--space-xl-2xl: clamp(3.375rem, 2.6359rem + 3.6957vw, 5.5rem);
	--space-2xl-3xl: clamp(4.5rem, 3.1957rem + 6.5217vw, 8.25rem);
	--space-3xl-4xl: clamp(6.75rem, 5.2717rem + 7.3913vw, 11rem);
	--space-4xl-5xl: clamp(9rem, 6.3913rem + 13.0435vw, 16.5rem);

	/* Custom pairs */
	--space-s-l: clamp(1.125rem, 0.5598rem + 2.8261vw, 2.75rem);
}


:root,
:root[data-theme="light"] {
	@include theme-light;
}


:root[data-theme="dark"] {
	@include theme-dark;
}

@media (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		@include theme-dark;
	}
/*
	body {
		background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.716 0 0 6.716 0 15c8.284 0 15-6.716 15-15zM0 15c0 8.284 6.716 15 15 15 0-8.284-6.716-15-15-15zm30 0c0-8.284-6.716-15-15-15 0 8.284 6.716 15 15 15zm0 0c0 8.284-6.716 15-15 15 0-8.284 6.716-15 15-15z' fill='%23ffffff' fill-opacity='0.035' fill-rule='evenodd'/%3E%3C/svg%3E");
	}
*/
}



//	Functions
// 	==========================================================================

// convert px to ems
@function px-to-ems( $pixels, $context: $browser-default-font-size ) {
	@return #{math.div($pixels,$context)}em;
}

@function return-ems( $pixels, $context ) {
	@return #{math.div($pixels,$context)}em;
}

@function layout-ems( $pixels, $context: $layout-size ) {
	@return #{math.div($pixels,$context)}em;
}

@function rem( $pixels, $context: $browser-default-font-size ) {
	@return #{math.div($pixels,$context)}rem;
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* Colors
//   	========================================================================== */

$color-blue:#007298;
$color-red:#BE162D;
$color-green:#198A3D;
$color-purple:#5F2B6D;
$color-orange:#C56819;
$color-black:#333;
$color-white:#fff;


/* Breakpoints
//   	========================================================================== */
$break-1: 20em /* 320px */;
$break-2: 30em /* 480px */;
$break-3: 35.625em /* 570px */;
$break-4: 48em /* 768px */;
$break-5: 60em /* 960px */;

/* Custom
//   	========================================================================== */

// Mixins
// 	==========================================================================

// remove list formatting
@mixin delist {
	list-style: none;
	margin: 0;
	padding: 0;
}

%background-color {
	.blue & {
		background-color: $color-blue;
	}
	.red & {
		background-color: $color-red;
	}
	.orange & {
		background-color: $color-orange;
	}
	.green & {
		background-color: $color-green;
	}
	.purple & {
		background-color: $color-purple;
	}
}

%body-background-color {
	&.blue {
		background-color: $color-blue;
	}
	&.red {
		background-color: $color-red;
	}
	&.orange {
		background-color: $color-orange;
	}
	&.green {
		background-color: $color-green;
	}
	&.purple {
		background-color: $color-purple;
	}
}

%color {
	.blue & {
		color: $color-blue;
	}
	.red & {
		color: $color-red;
	}
	.orange & {
		color: $color-orange;
	}
	.green & {
		color: $color-green;
	}
	.purple & {
		color: $color-purple;
	}
}
%border-color {
	.blue & {
		border-color: $color-blue;
	}
	.red & {
		border-color: $color-red;
	}
	.orange & {
		border-color: $color-orange;
	}
	.green & {
		border-color: $color-green;
	}
	.purple & {
		border-color: $color-purple;
	}
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}